[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"

[dev-packages]
django-extensions = "~=2.2"
ipython = "*"
jupyter = "*"


[requires]
python_version = "3.8"
